<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" content="application/json">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">                            <!--application/json;charset=UTF-8-->
    <meta name="author" content="">
    <title>e-Com login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />

    <!--<style>
        body {
            background-color: #3e3e3e;
            color: white;
        }
    </style>-->
</head>
<body>
<div class="container">
    <form class="form-signin" method="post"
          th:action="@{/api/auth/signin}"
          th:object="${loginRequest}"
          enctype="application/x-www-form-urlencoded"> <!--method="post" action="/api/auth/signin"-->
        <h2 class="form-signin-heading">Please login to eCom</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" th:field="*{username}" name="username" class="form-control" placeholder="username" required=""
                   autofocus="">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" th:field="*{password}" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

        </p>
        <p>
            Remember me?
            <input type="checkbox" id="remember-me" name="remember-me" class="form-control">
        </p>
<!--        th:onclick="saveToken()"-->
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="btnlogin" th:onclick="saveToken()">Login</button>
    </form>
    
</div>

<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
<script type="text/javascript" th:src="@{/js/actions.js}"></script>


<!--<script th:inline="javascript">
    $(function() {
        $("#btnlogin").click(function () {
            console.log("JS started")
            var username=$("#username").val();
            var password=$("#password").val();


           /* form.addEventListener('submit', function (e) {

                console.log("Submit event started");

                /!* e.preventDefault()

                itemsArray.push(input.value)*!/

                let data = JSON.stringify({"username" : username , "password" : password});

                localStorage.setItem('jwtToken', data.token)

                /!*liMaker(input.value)
                input.value = ''*!/
            });*/


            /* button.addEventListener('click', function () {
                 localStorage.clear()
                 while (ul.firstChild) {
                     ul.removeChild(ul.firstChild)
                 }
             })*/

            $.ajax({
                cache: true,
                type: "POST",
                url: "/api/auth/signin",
                contentType: "application/json;charset=UTF-8",
                data:JSON.stringify({"username":username, "password" : password}),
                dataType: "json",
                async: false,
                error: function (request) {
                    console.log("Connection error");
                },
                success: function (data) {
                    //save token
                    localStorage.setItem("token",data.accessToken);


                }
            });
        });
    });
</script>-->
</body>
</html>